@{
    ViewData["Title"] = "AccountDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var sessionCustomer = ViewContext.HttpContext.Session.GetString("IDCustomer");
}

<div class="d-flex">
    <partial name="~/Views/Giohang/SideBar.cshtml" />

@{
    if (Model != null)
    {
        @await Component.InvokeAsync("AccountDetail",new {makh = Convert.ToInt32(sessionCustomer)});    
    }
    else
    {
        <p>Trích xuất thông tin  khách hàng thất bại</p>
    }
}
</div>
