
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Http;
@{
	var sessionCustomer = ViewContext.HttpContext.Session.GetString("IDCustomer");

   
}
<div class="side-bar  w-[180px]">

    <div class="list-group">
        <p class="item-group-header">PRODUCT</p>
        <a href="@Url.Action("index", "giohang", new {idKH=@sessionCustomer})" class="list-group-item list-group-item-action"><i class="fa-solid fa-list"></i>Cart</a>
        <a  href="@Url.Action("GetOrderByKhachHang", "Account", new {MaKH=@sessionCustomer})" class="list-group-item list-group-item-action"><i class="fa-solid fa-clipboard-list"></i> Previous order</a>
        <p class="item-group-header">ACCOUNT</p>
        <a href="@Url.Action("AccountDetails", "Account", new {id=@sessionCustomer})" class="list-group-item list-group-item-action"><i class="fa-solid fa-user"></i> Profile</a>
        <a  class="list-group-item list-group-item-action"><i class="fa-solid fa-lock"></i> Update password</a>
        <p class="item-group-header">HELP & SUPPORT</p>
        <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-circle-info"></i> About us</a>
        <a href="#" class="list-group-item list-group-item-action"><i class="fa-solid fa-headphones-simple"></i> Contact suport</a>

    </div>
</div>
